body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;

}

.container {
    width: 700px;  /* Larger container */
    height: 700px; /* Larger container */
    position: relative;
    margin: 0 auto;
}


.tokamak {
    width: 100%;
    height: 100%;
    background-image: url('tokamak.jpg');
    background-size: contain; /* Fit the image inside the container */
    background-repeat: no-repeat;
    background-position: center; /* Center the tokamak image */
    position: relative;
}

.heart {
    width: 60px;
    height: auto;
    position: absolute;
    top: 320px;
    left: 320px;
    transform: translate(-50%, -50%); /* Center the heart */
    cursor: pointer;
    transition: left 0.5s ease-out, top 0.5s ease-out;
}

.message {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    color: white;
    display: none;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
