body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

.container {
    width: 700px;
    height: 700px;
    position: relative;
    margin: 0 auto;
    border: 1px solid transparent;
}

.tokamak {
    width: 100%;
    height: 100%;
    background-image: url('tokamak.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.heart {
    width: 60px;
    height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.message {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.0em;
    color: red;
    display: none;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    opacity: 0; /* Start with opacity 0 for fade-in effect */
    transition: opacity 1s ease-in-out; /* Smooth transition for opacity */
}
